html,
body,
#main,
.page
{
  height: 100%;
}

body
{
  background-image: url('images/tumbler-backdrop.jpg');
  background-size: auto 100%;
  background-repeat: repeat-x;
}

h1,
h2,
h3,
h4,
h5
{
  font-style: oblique;
}

h1
{
  font-size: 3.5rem;

  color: gold;

  margin-bottom: 1.5rem;
}

h3
{
  color: darkred;
}

form,
.card
{
  background-color: beige;
  padding: 1em;
}

label
{
  text-align: right;
  font-weight: bold;
}
